// _links.scss
@use "variables" as var;

a {
    color: var.$color-primary;
    text-decoration: none;

    &:hover {
        color: lighten(var.$color-primary, 10%);
        text-decoration: underline;
    }
}
