// _tables.scss
@use "variables" as var;

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var.$spacing-base;
}

th,
td {
    border: 1px solid var.$color-border;
    padding: 0.5em 1em;
    text-align: left;
}

th {
    background-color: var.$color-border;
}
