name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Debian (glibc Linux)
          - os: ubuntu-latest
            container: debian:bookworm-slim
            name: debian

          # Alpine (musl Linux)
          - os: ubuntu-latest
            container: alpine:3.19
            name: alpine

          # macOS
          - os: macos-latest
            name: macos

          # Windows
          - os: windows-latest
            name: windows

    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container || '' }}

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
